.video-js {
    height: 100%;
    width: 100%
}

.hosted-video-thumbnail {
    background-position: 50%
}

.hosted-video-thumbnail:focus:after,
.hosted-video-thumbnail:hover:after {
    opacity: 1
}

.hosted-video-thumbnail:after {
    background-color: #00000080;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M8 5v14l11-7z'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 35px;
    border-radius: 10px;
    bottom: 0;
    color: #fff;
    content: "";
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    line-height: 2;
    margin: auto;
    opacity: .75;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: background-color .25s, opacity .25s;
    width: 75px
}

.vjs-marker:hover {
    cursor: unset !important;
    transform: unset !important
}

.vjs-ghl .vjs-marker {
    z-index: 99
}

.videoTag .is-sticky,
.ytvideo .is-sticky {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    bottom: 3px !important;
    height: 158px;
    left: auto !important;
    max-height: 158px;
    max-width: 280px;
    position: fixed !important;
    right: 3px !important;
    top: auto !important;
    width: 280px;
    z-index: 99
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.close-button-pip-scroll {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    bottom: 160px;
    box-sizing: border-box;
    display: none;
    left: auto;
    position: fixed;
    right: 0;
    top: auto;
    z-index: 99
}

.custom-play-pause-overlay {
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease-in-out;
    z-index: 1000
}

.play-pause-icon {
    animation: growInOut .6s ease-in-out;
    border-radius: 50%;
    height: 100px;
    width: 100px
}

.play-pause-icon svg {
    height: 100px;
    width: 100px;
    fill: currentColor
}

.vjs-ghl.video-js .vjs-play-control .vjs-icon-placeholder:before,
.vjs-icon-play:before {
    content: url('data:image/svg+xml;utf8,<svg width="28" height="28" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M6.92773 6.82001V17.18C6.92773 17.97 7.79773 18.45 8.46773 18.02L16.6077 12.84C17.2277 12.45 17.2277 11.55 16.6077 11.15L8.46773 5.98001C7.79773 5.55001 6.92773 6.03001 6.92773 6.82001Z"/></svg>')
}

.vjs-ghl.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,
.vjs-icon-pause:before {
    content: url('data:image/svg+xml;utf8,<svg width="26" height="26" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M8 19C9.1 19 10 18.1 10 17V7C10 5.9 9.1 5 8 5C6.9 5 6 5.9 6 7V17C6 18.1 6.9 19 8 19ZM14 7V17C14 18.1 14.9 19 16 19C17.1 19 18 18.1 18 17V7C18 5.9 17.1 5 16 5C14.9 5 14 5.9 14 7Z"/></svg>')
}

.vjs-ghl.video-js .vjs-mute-control .vjs-icon-placeholder:before,
.vjs-icon-volume-high:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 10.0018V14.0018C3 14.5518 3.45 15.0018 4 15.0018H7L10.29 18.2918C10.92 18.9218 12 18.4718 12 17.5818V6.41179C12 5.52179 10.92 5.07179 10.29 5.70179L7 9.00179H4C3.45 9.00179 3 9.45179 3 10.0018ZM16.5 12.0018C16.5 10.2318 15.48 8.71179 14 7.97179V16.0218C15.48 15.2918 16.5 13.7718 16.5 12.0018ZM14 4.45179V4.65179C14 5.03179 14.25 5.36179 14.6 5.50179C17.18 6.53179 19 9.06179 19 12.0018C19 14.9418 17.18 17.4718 14.6 18.5018C14.24 18.6418 14 18.9718 14 19.3518V19.5518C14 20.1818 14.63 20.6218 15.21 20.4018C18.6 19.1118 21 15.8418 21 12.0018C21 8.16179 18.6 4.89179 15.21 3.60179C14.63 3.37179 14 3.82179 14 4.45179Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,
.vjs-icon-volume-low:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 10.005V14.005C7.5 14.555 7.95 15.005 8.5 15.005H11.5L14.79 18.295C15.42 18.925 16.5 18.475 16.5 17.585V6.41502C16.5 5.52502 15.42 5.07502 14.79 5.70502L11.5 9.00502H8.5C7.95 9.00502 7.5 9.45502 7.5 10.005Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,
.vjs-icon-volume-mid:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.75 12.005C18.75 10.235 17.73 8.71502 16.25 7.97502V16.025C17.73 15.295 18.75 13.775 18.75 12.005ZM5.25 10.005V14.005C5.25 14.555 5.7 15.005 6.25 15.005H9.25L12.54 18.295C13.17 18.925 14.25 18.475 14.25 17.585V6.41502C14.25 5.52502 13.17 5.07502 12.54 5.70502L9.25 9.00502H6.25C5.7 9.00502 5.25 9.45502 5.25 10.005Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,
.vjs-icon-volume-mute:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.63 3.63503C3.24 4.02503 3.24 4.65503 3.63 5.04503L7.29 8.70503L7 9.00503H4C3.45 9.00503 3 9.45503 3 10.005V14.005C3 14.555 3.45 15.005 4 15.005H7L10.29 18.295C10.92 18.925 12 18.475 12 17.585V13.415L16.18 17.595C15.69 17.965 15.16 18.275 14.58 18.505C14.22 18.655 14 19.035 14 19.425C14 20.145 14.73 20.605 15.39 20.335C16.19 20.005 16.94 19.565 17.61 19.025L18.95 20.365C19.34 20.755 19.97 20.755 20.36 20.365C20.75 19.975 20.75 19.345 20.36 18.955L5.05 3.63503C4.66 3.24503 4.03 3.24503 3.63 3.63503ZM19 12.005C19 12.825 18.85 13.615 18.59 14.345L20.12 15.875C20.68 14.705 21 13.395 21 12.005C21 8.17503 18.6 4.89503 15.22 3.60503C14.63 3.37503 14 3.83503 14 4.46503V4.65503C14 5.03503 14.25 5.36503 14.61 5.50503C17.18 6.54503 19 9.06503 19 12.005ZM10.29 5.71503L10.12 5.88503L12 7.76503V6.41503C12 5.52503 10.92 5.08503 10.29 5.71503ZM16.5 12.005C16.5 10.235 15.48 8.71503 14 7.97503V9.76503L16.48 12.245C16.49 12.165 16.5 12.085 16.5 12.005Z" fill="%23fff"/></svg>')
}

.vjs-ghl .vjs-icon-hd:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.89 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM10.25 15C9.84 15 9.5 14.66 9.5 14.25V13H7.5V14.25C7.5 14.66 7.16 15 6.75 15C6.34 15 6 14.66 6 14.25V9.75C6 9.34 6.34 9 6.75 9C7.16 9 7.5 9.34 7.5 9.75V11.5H9.5V9.75C9.5 9.34 9.84 9 10.25 9C10.66 9 11 9.34 11 9.75V14.25C11 14.66 10.66 15 10.25 15ZM13.5 9H17C17.55 9 18 9.45 18 10V14C18 14.55 17.55 15 17 15H13.5C13.22 15 13 14.78 13 14.5V9.5C13 9.22 13.22 9 13.5 9ZM14.5 13.5H16.5V10.5H14.5V13.5Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before,
.vjs-icon-replay:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9619 5.64249V2.85249C11.9619 2.40249 11.4219 2.18249 11.1119 2.50249L7.31194 6.29249C7.11194 6.49249 7.11194 6.80249 7.31194 7.00249L11.1019 10.7925C11.4219 11.1025 11.9619 10.8825 11.9619 10.4325V7.64249C15.6919 7.64249 18.6419 11.0625 17.8219 14.9325C17.3519 17.2025 15.5119 19.0325 13.2519 19.5025C9.68194 20.2525 6.50194 17.8025 6.02194 14.4925C5.95194 14.0125 5.53194 13.6425 5.04194 13.6425C4.44194 13.6425 3.96194 14.1725 4.04194 14.7725C4.66194 19.1625 8.84194 22.4125 13.5719 21.4925C16.6919 20.8825 19.2019 18.3725 19.8119 15.2525C20.8019 10.1225 16.9019 5.64249 11.9619 5.64249Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-exit:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 16H8V18C8 18.55 8.45 19 9 19C9.55 19 10 18.55 10 18V15C10 14.45 9.55 14 9 14H6C5.45 14 5 14.45 5 15C5 15.55 5.45 16 6 16ZM8 8H6C5.45 8 5 8.45 5 9C5 9.55 5.45 10 6 10H9C9.55 10 10 9.55 10 9V6C10 5.45 9.55 5 9 5C8.45 5 8 5.45 8 6V8ZM15 19C15.55 19 16 18.55 16 18V16H18C18.55 16 19 15.55 19 15C19 14.45 18.55 14 18 14H15C14.45 14 14 14.45 14 15V18C14 18.55 14.45 19 15 19ZM16 8V6C16 5.45 15.55 5 15 5C14.45 5 14 5.45 14 6V9C14 9.55 14.45 10 15 10H18C18.55 10 19 9.55 19 9C19 8.45 18.55 8 18 8H16Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-enter:before {
    content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 14C5.45 14 5 14.45 5 15V18C5 18.55 5.45 19 6 19H9C9.55 19 10 18.55 10 18C10 17.45 9.55 17 9 17H7V15C7 14.45 6.55 14 6 14ZM6 10C6.55 10 7 9.55 7 9V7H9C9.55 7 10 6.55 10 6C10 5.45 9.55 5 9 5H6C5.45 5 5 5.45 5 6V9C5 9.55 5.45 10 6 10ZM17 17H15C14.45 17 14 17.45 14 18C14 18.55 14.45 19 15 19H18C18.55 19 19 18.55 19 18V15C19 14.45 18.55 14 18 14C17.45 14 17 14.45 17 15V17ZM14 6C14 6.55 14.45 7 15 7H17V9C17 9.55 17.45 10 18 10C18.55 10 19 9.55 19 9V6C19 5.45 18.55 5 18 5H15C14.45 5 14 5.45 14 6Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
    content: url('data:image/svg+xml;utf8,<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 8H11C10.45 8 10 8.45 10 9V13C10 13.55 10.45 14 11 14H17C17.55 14 18 13.55 18 13V9C18 8.45 17.55 8 17 8ZM22 16V1.98C22 0.88 21.1 0 20 0H2C0.9 0 0 0.88 0 1.98V16C0 17.1 0.9 18 2 18H20C21.1 18 22 17.1 22 16ZM19 16.02H3C2.45 16.02 2 15.57 2 15.02V2.97C2 2.42 2.45 1.97 3 1.97H19C19.55 1.97 20 2.42 20 2.97V15.02C20 15.57 19.55 16.02 19 16.02Z" fill="%23fff"/></svg>')
}

.vjs-ghl.video-js .vjs-button>.vjs-icon-placeholder:before {
    line-height: unset
}

.vjs-ghl.video-js .vjs-remaining-time.vjs-time-control.vjs-control {
    align-items: center;
    display: flex;
    justify-content: center
}

@keyframes growInOut {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    50% {
        opacity: 1;
        transform: scale(1.2)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.centered,
.videoTag {
    position: relative
}

.vjs-ghl.video-js .vjs-progress-holder {
    border-radius: .2em;
    height: .4em
}

.vjs-ghl.video-js .vjs-playback-rate-value,
.vjs-ghl.video-js .vjs-remaining-time-display {
    font-family: var(--contentfont);
    font-size: 1.3em;
    font-weight: 700
}

.vjs-ghl.video-js .vjs-control-bar {
    background: linear-gradient(180deg, #2b333f00 0, #2b333fb3);
    height: 5em
}

.vjs-ghl.video-js .vjs-button>.vjs-icon-placeholder:before,
.vjs-ghl.video-js .vjs-playback-rate-value {
    align-items: center;
    display: flex;
    justify-content: center
}

.vjs-ghl.video-js .video-js .vjs-volume-vertical {
    bottom: 7.5em
}

.enable-sound-button {
    background: #00000080;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
    gap: 8px;
    left: 12px;
    line-height: 1;
    padding: 6px 10px;
    position: absolute;
    top: 12px;
    z-index: 99
}

.vjs-ghl .vjs-playback-rate .vjs-menu .vjs-menu-content,
.vjs-ghl .vjs-quality-selector .vjs-menu .vjs-menu-content,
.vjs-ghl .vjs-volume-vertical {
    border-radius: 5px
}

.vjs-ghl .vjs-playback-rate .vjs-menu,
.vjs-ghl .vjs-quality-selector .vjs-menu {
    margin-bottom: 3.5em
}

.enable-sound-button:hover {
    background: #000000bf
}

.enable-sound-label {
    font-family: var(--contentfont);
    font-size: 14px;
    font-weight: 700
}

.vjs-ghl.video-js .vjs-play-progress:before {
    font-size: 1.2em
}

.vjs-ghl.video-js.hide-quality-selector .vjs-quality-selector {
    display: none
}

.vjs-ghl.video-js.show-quality-selector .vjs-quality-selector {
    display: block
}

@media screen and (max-width:480px) {
    .play-pause-icon,
    .play-pause-icon svg {
        height: 60px;
        width: 60px
    }
}

.video-container[data-v-2f714085] {
    background-position: 50% !important;
    background-size: cover !important;
    margin: auto;
    position: relative;
    text-align: center
}

.thumbnail-container[data-v-2f714085],
.video-overlay[data-v-2f714085] {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 1;
    z-index: 1
}

.iframe-container[data-v-2f714085] {
    position: relative
}

.iframe-container[data-v-2f714085],
iframe[data-v-2f714085] {
    background-color: #000;
    margin: auto;
    width: 100%
}

iframe[data-v-2f714085] {
    border: none;
    box-shadow: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2
}

.figure[data-v-2f714085] {
    margin: auto
}

.figure span[data-v-2f714085] {
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none
}

.figure span[data-v-2f714085]:focus:after,
.figure span[data-v-2f714085]:hover:after {
    background-color: #87cefa;
    opacity: 1
}

.figure.youtube span[data-v-2f714085]:focus:after,
.figure.youtube span[data-v-2f714085]:hover:after {
    background-color: red
}

.figure span[data-v-2f714085]:after {
    background-color: #00000080;
    border-radius: 10px;
    bottom: 0;
    color: #fff;
    content: "▶";
    display: block;
    font-size: 25px;
    height: 50px;
    left: 0;
    line-height: 2;
    margin: auto;
    opacity: .75;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: background-color .25s, opacity .25s;
    width: 75px
}

.video-icon[data-v-2f714085]:before {
    color: #fff;
    content: "";
    font-family: Font Awesome\ 5 Free;
    font-size: 20px;
    font-weight: 700;
    left: 50%;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}